
<h2>Hello Jack</h2>
<h3>Using If esle Statement</h3>
<div *ngIf="showmsg; else elseshowmsg">Hello If Statement</div>
<ng-template #elseshowmsg>Hello Else Statement</ng-template>
<h3>Using If then and else Statement</h3>
<div *ngIf="showmsg then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Hello If Block Statement</ng-template>
<ng-template #elseBlock>Hello else Block Statement</ng-template>
<h3>Using Swith Expression</h3>
<div [ngSwitch]="ngSwithValue">

<div *ngSwitchCase="1">Passed Valued id 1</div>
<div *ngSwitchCase="2">Passed Valued id 2</div>
<div *ngSwitchCase="3">Passed Valued id 3</div>
<div *ngSwitchCase="4">Passed Valued id 4</div>
<div *ngSwitchDefault>Default Message: Hello jack</div>
</div>
<h3>Using ngFor Statements</h3>
<table class="table table-bordered">
  <tr><th>ID</th><th>Name</th><th>Index</th><th>First</th><th>Last</th><th>Even</th><th>Odd</th></tr>
  <tr *ngFor="let user of users;index as I;first as f;last as l;even as e;odd as o">
    <td>{{user.Id}}</td>
    <td>{{user.Name}}</td>
    <td>{{I}}</td>
    <td>{{f}}</td>
    <td>{{l}}</td>
    <td>{{e}}</td>
    <td>{{o}}</td>
  </tr>
</table>
<router-outlet></router-outlet>
